
#Setup in ~/.zshrc or ~/.zbashrc variables JDK_25_LOCATION and MVN_4_LOCATION related to the project preferences
#Example:
#export JDK_25_LOCATION=~/Users/rostyslavpaliuha/Library/Java/JavaVirtualMachines/openjdk-25/Contents/Home
#export MVN_4_LOCATION=~/Users/rostyslavpaliuha/development/tools/apache-maven-4.0.0-rc-5
#After locations are properly exported, fire 'direnv allow' inside the project root directory.

export JAVA_HOME=$JDK_25_LOCATION
export MAVEN_HOME=$MVN_4_LOCATION 
export PATH=$JAVA_HOME/bin:$MAVEN_HOME/bin:$PATH