<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="POD_NAME" value="${POD_NAME:-local}"/>
    <property name="LOKI_URL" value="${LOKI_URL:-http://loki-gateway.monitoring.svc.cluster.local/loki/api/v1/push}"/>
    <property name="LOG_PATTERN" value="%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX} %-5level [%thread] [%X{traceId:-},%X{spanId:-}] %logger{36} - %msg%n"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <springProfile name="!k8s">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <springProfile name="k8s">
        <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
            <labels>
                app = catalog
                namespace = demo-catalog-ns
                pod = ${POD_NAME}
            </labels>
            <structuredMetadata>
                level = %level
                logger = %logger
                thread = %thread
                trace_id = %X{traceId:-}
                span_id = %X{spanId:-}
            </structuredMetadata>
            <message>
                <pattern>${LOG_PATTERN}</pattern>
            </message>
            <http>
                <url>${LOKI_URL}</url>
            </http>
            <batch>
                <staticLabels>true</staticLabels>
                <maxItems>100</maxItems>
                <timeoutMs>5000</timeoutMs>
            </batch>
        </appender>

        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="LOKI"/>
        </root>
    </springProfile>
</configuration>
